<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.comdepConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Repositorios\Prueba1\LPOOI_GRUPO_15\comdep.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ClasesBase.Properties.Settings.comdepConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Facultad\LPOO1\Deployment\LPOOI_GRUPO_15\comdep.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>